.hide {
    /* display: none; */
    position: absolute;
    left: -9999px;
    top: -9999px;
    overflow: hidden;
}

#login-form {
    min-width: 400px;
    max-width: 40vw;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:30px;
    background-color: #f2f2f2;
}

#login-btn {
    background-color: #00B482 !important;
}

#sign-out-btn {
    margin-left: auto;
}

.btn:focus, .btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.modal-header, .modal-footer {
    border: none !important;
}

.error {
    border: 2px solid #ff0000 !important;
}